:root{
    --headerFooterColor: #212529;
    --fontColor: white;
    --mainTextColor: white;
    --backgroundColor: #f8ebda;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    overflow: hidden;
    background-color: var(--backgroundColor);    
}
/* Header */

.main-header{
    background-color: var(--headerFooterColor);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    bottom: 0;
    width: 100%;
}

.main-header .main-header-nav-bar{
    background-color: var(--headerFooterColor);
    display: inline-block;
}

.main-header .main-header-ancle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: var(--fontColor);
    padding-left: 4rem;
}
.main-header .main-header-home-btn{
    max-width: 3rem;
}
/* Header */

/* main */
main{
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1rem;
}
.explain-text{
    padding: 1rem 1rem;
    font-size: 1.3rem;
}
.square{
    padding-bottom: 1rem;
}
.triangle{
    padding-bottom: 1rem;
}
.circle{
    padding-bottom: 1rem;
}
button{
    cursor: pointer;
    background-color: white;
    border: none;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    border: 0.1rem solid black;
}
button:hover{
    background-color: rgb(230, 230, 230);
    border: 0.1rem solid rgb(105, 105, 105);
}
.result-paragraph{
    padding-top: 1rem;
}
#result{
    font-size: 6rem;
    text-align: center;
}
/* main */

/* Footer */
.main-footer{
    background-color: var(--headerFooterColor);
    position: fixed;
    padding: 2rem 2rem 2rem 2rem;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.main-footer-ancle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: var(--fontColor);
    padding-left: 4rem;
}
/* Footer */