:root{
    --headerFooterColor: #212529;
    --fontColor: white;
    --mainTextColor: white;
    --hoverColor: #f2e2c8;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: cornsilk;
    overflow:hidden;    
}
/* main */
main{
    padding: 1rem 1rem 1rem 1rem;
    font-size: 2rem;
}
.explain-text{
    padding: 1rem 1rem;
    font-size: 1.6rem;
}
.square{
    padding-bottom: 1rem;
}
.triangle{
    padding-bottom: 1rem;
}
.circle{
    padding-bottom: 1rem;
}
button{
    margin-top: 0.5rem;
    cursor: pointer;
    background-color: white;
    border: none;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    border: 0.1rem solid black;

}
button:hover{
    background-color: rgb(230, 230, 230);
    border: 0.1rem solid rgb(105, 105, 105);
}
.result-paragraph{
    padding-top: 1rem;
}
#result{
    font-size: 6rem;
    text-align: center;
}
/* main */